body {
  font-family: 'Roboto', sans-serif;
  background:;
  position: relative;
  font-weight:400px;
}

ul li {
  list-style: none;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  -webkit-transition: all .50s ease;
  -moz-transition: all .50s ease;
  -ms-transition: all .50s ease;
  -o-transition: all .50s ease;
  transition: all .50s ease;
}
.navbar-toggle {
  background-color: #8A2A2C;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #D6DF34;
  color: #B22B24;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i{
  font-size: 30px;
}
/*layout*/
/*navbar-start*/
.navbar-default {
  background-color: #478197;
  border-color: none;
}
.navbar-default .navbar-nav>li>a {
color: #fff;
text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #8A2A2C;
}
.home-image {
  margin-bottom: 50px;
}
/*navbar-end*/
/*4-menu-start*/
.welcome h2 {
  font-family: all;
  margin-top: 100px;
}
.welcome h4 {
  font-family: monospace;
}
.container .row .col-md-3 {
  margin-top: 30px;
}
.menu .fa-sign-in {
  font-size: 50px;
  color: #0ABAD2;
}
.menu .fa-sign-in:hover {
  color: #5CB2CE;
}
.menu .fa-users {
  font-size: 50px;
  color: #0ABAD2;
}
.menu .fa-users:hover {
  color: #5CB2CE;
}
.menu .fa-edit {
  font-size: 50px;
  color: #0ABAD2;
}
.menu .fa-edit:hover {
  color: #5CB2CE;
}
.menu .fa-trophy {
  font-size: 50px;
  color: #0ABAD2;
}
.menu .fa-trophy:hover {
  color: #5CB2CE;
}
.log-in .text-center {
  color: #4784A3;
}
.tittle-menu .text-center {
  color: #4784A3;
  margin-top: 150px;
}
.title:after{
  content: " ";
  position: absolute;
  border: 1px solid #4784A3;
  bottom:8px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -2;
}
.title:before{
  content: " ";
  position: absolute;
  background: #fff;
  bottom: -6px;
  width: 220px;
  height: 30px;
  z-index: -1;
  left: 50%;
  margin-left: -110px;
}
.title {
  color: #E1E1E1;
  font-family: century;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.alur .text-center {
  color: #4784A3;
}
/*4-menu-end*/
/*login-siswa*/
.thumbnail .sd .fa-user {
  font-size: 100px;
  color: #9B0F02;
}
.thumbnail .smp .fa-user {
  font-size: 100px;
  color: #151E3F;
}
.btn-default {
  border: none;
  border-radius: 0px;
  background-color: #9AB8D0;
}
.btn-default:hover {
  background-color: #C6D6E5;
}
.btn-login-oper .btn-default {
  border-radius: 0px;
  background-color: #9AB8D0;
}
.btn-login-oper .btn-default:hover {
  background-color: #C6D6E5;
}
/*login-siswa-end*/
/*modal-sk*/
.modal-footer .btn-success {
  border: none;
  border-radius: 0px;
  background-color: #FECA26;
}
.modal-footer .btn-success:hover {
  background-color: #E7BA2B;
}
.modal-footer .btn-danger {
  border: none;
  border-radius: 0px;
  background-color: #DB3229;
}
.modal-footer .btn-danger:hover {
  background-color: #B92A20;
}
/*-end-*/
/*login-operator*/
.thumbnail .oper-sd .fa-university {
  font-size: 80px;
  color: #9B0F02;
}
.thumbnail .oper-smp .fa-university {
  font-size: 80px;
  color: #151E3F;
}
.thumbnail .oper-sma .fa-university {
  font-size: 80px;
  color: #52B2C2;
}
/*login-opeartor-end*/
/*pagu*/
.modal-body .fa-users {
  font-size: 50px;
}
/*pagu-end*/
/*coba*/

/*coba-end*/
